{
  "name": "{{ agave.username }}-{{ app.name }}",
  "version": "{{ app.version }}",
  "executionType": "HPC",
  "executionSystem": "hpc-tacc-wrangler-{{ agave.username }}-custom",
  "parallelism": "SERIAL",
  "deploymentPath": "{{ agave.username }}/apps/{{ app.bundle }}",
  "deploymentSystem": "data-sd2e-projects-users",
  "defaultProcessorsPerNode": 1,
  "defaultNodeCount": 1,
  "defaultQueue": "all",
  "label": "{{ date_time.iso8601_micro }}",
  "modules": ["load tacc-singularity"],
  "shortDescription": "{{ app.description }}",
  "templatePath": "runner-template.sh",
  "testPath": "tester.sh",
  "inputs": [
  {
  "id": "gene_counts",
  "value": {
    "default": "agave://data-sd2e-community/sample/omics_tools/Reordered_ReadCountMatrix_preCAD.csv",
    "order": 0,
    "required": true,
    "visible": true
    }
  }
  ],
  "parameters": [
{
    "id": "comparisons",
    "value": {
      "default": "E. coli",
      "description": "list of strains to compare",
      "type": "enumeration",
      "enumValues": ["Human", "E. coli", "Yeast"],
      "visible": true,
      "required": true
    }
  },{
      "id": "factors",
      "value": {
        "default": "Timepoint",
        "description": "list of metadata to use for comparisons",
        "type": "enumeration",
        "enumValues": ["Timepoint", "Temperature", "Arabinose", "IPTG"],
        "visible": true,
        "required": true
      }
    },{
    "id": "CONTAINER_IMAGE",
    "value": {
      "default": "{{ docker.organization }}/{{ docker.repo }}:{{ docker.tag }}",
      "description": "Container Image. Do not edit.",
      "type": "string",
      "visible": false,
      "required": true
    }
  }],
  "outputs": []
}
